@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 14.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 14.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 14.9%;
    --primary: 37.69 92.13% 50.2%;
    --primary-foreground: 0 0% 0%;
    --secondary: 220 14.29% 95.88%;
    --secondary-foreground: 215 13.79% 34.12%;
    --muted: 210 20% 98.04%;
    --muted-foreground: 220 8.94% 46.08%;
    --accent: 48 100% 96.08%;
    --accent-foreground: 22.73 82.5% 31.37%;
    --destructive: 0 84.24% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13.04% 90.98%;
    --input: 220 13.04% 90.98%;
    --ring: 37.69 92.13% 50.2%;
    --chart-1: 37.69 92.13% 50.2%;
    --chart-2: 32.13 94.62% 43.73%;
    --chart-3: 25.96 90.48% 37.06%;
    --chart-4: 22.73 82.5% 31.37%;
    --chart-5: 21.71 77.78% 26.47%;
    --sidebar: 210 20% 98.04%;
    --sidebar-foreground: 0 0% 14.9%;
    --sidebar-primary: 37.69 92.13% 50.2%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 48 100% 96.08%;
    --sidebar-accent-foreground: 22.73 82.5% 31.37%;
    --sidebar-border: 220 13.04% 90.98%;
    --sidebar-ring: 37.69 92.13% 50.2%;
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.85rem;
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
      0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
      0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
      0px 2px 4px -2px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
      0px 4px 6px -2px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
      0px 8px 10px -2px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  }

  .dark {
    --background: 0 0% 9.02%;
    --foreground: 0 0% 89.8%;
    --card: 0 0% 14.9%;
    --card-foreground: 0 0% 89.8%;
    --popover: 0 0% 14.9%;
    --popover-foreground: 0 0% 89.8%;
    --primary: 37.69 92.13% 50.2%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 89.8%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.92%;
    --accent: 22.73 82.5% 31.37%;
    --accent-foreground: 48 96.64% 76.67%;
    --destructive: 0 84.24% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 16.08%;
    --input: 0 0% 16.08%;
    --ring: 37.69 92.13% 50.2%;
    --chart-1: 43.26 96.41% 56.27%;
    --chart-2: 32.13 94.62% 43.73%;
    --chart-3: 22.73 82.5% 31.37%;
    --chart-4: 25.96 90.48% 37.06%;
    --chart-5: 22.73 82.5% 31.37%;
    --sidebar: 0 0% 5.88%;
    --sidebar-foreground: 0 0% 89.8%;
    --sidebar-primary: 37.69 92.13% 50.2%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 22.73 82.5% 31.37%;
    --sidebar-accent-foreground: 48 96.64% 76.67%;
    --sidebar-border: 0 0% 25.1%;
    --sidebar-ring: 37.69 92.13% 50.2%;
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.85rem;
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
      0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
      0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
      0px 2px 4px -2px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
      0px 4px 6px -2px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
      0px 8px 10px -2px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-muted-foreground font-sans antialiased;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply text-foreground font-serif;
  }
}

@layer utilities {
  .wrapper {
    @apply max-w-[1200px] mx-auto px-3;
  }
}
